@inject NavigationManager NavigationManager

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                <div style="display: flex; justify-content: center;">
                    <NyanCatSansCat></NyanCatSansCat>
                </div>
            </NotAuthorized>
            <Authorizing>
                    <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            </Authorizing>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(SecondaryLayout)">
            <NyanCatSansCat></NyanCatSansCat>
        </LayoutView>
    </NotFound>
</Router>